<form>
  <md-list layout="column">
        <md-list-item >
             <p>Cricket</p>
       <md-checkbox layout="row" ng-model="sportsActivities.cricket" ng-init="sportsActivities.cricket=null" >
      </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p> Football</p>
       <md-checkbox layout="row" ng-model="sportsActivities.football" ng-init="sportsActivities.football=null" >
      
      </md-checkbox>
        </md-list-item>

        <md-list-item >
             <p> Tennis</p>
        <md-checkbox ng-model="sportsActivities.tennis" ng-init="sportsActivities.tennis=null" >
        
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p> Pool Table</p>
       <md-checkbox layout="row" ng-model="sportsActivities.poolTable" ng-init="sportsActivities.poolTable=null" >
       
      </md-checkbox>
       
        </md-list-item>

         <md-list-item >
             <p>Basketball</p>
         <md-checkbox layout="row" ng-model="sportsActivities.basketball"  ng-init="sportsActivities.basketball=null">
        
      </md-checkbox>
       
        </md-list-item>

         <md-list-item >
             <p>Multipurposecourt</p>
      <md-checkbox layout="row" ng-model="sportsActivities.multiPurposeCourt" ng-init="sportsActivities.multiPurposeCourt=null" >
       
      </md-checkbox>
       
        </md-list-item>

        <md-list-item >
             <p> Pitch And Putt</p>
       <md-checkbox layout="row" ng-model="sportsActivities.pitchAndPutt" ng-init="sportsActivities.pitchAndPutt=null" >
      
      </md-checkbox>
       
        </md-list-item>

        <md-list-item >
             <p>Skating Rink</p>
             
        <md-checkbox layout="row" ng-model="sportsActivities.skatingRink" ng-init="sportsActivities.skatingRink=null" >
        
      </md-checkbox>       
        </md-list-item>

         <md-list-item >
             <p>Volleyball</p>
             
         <md-checkbox layout="row" ng-model="sportsActivities.volleyball" ng-init="sportsActivities.volleyball=null" >
        
      </md-checkbox>   
        </md-list-item>


         <md-list-item >
             <p>Amphitheatre</p>
             
         <md-checkbox layout="row" ng-model="sportsActivities.amphitheatre" ng-init="sportsActivities.amphitheatre=null">
       
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p> Badminton</p>
             
        <md-checkbox layout="row" ng-model="sportsActivities.badminton" ng-init="sportsActivities.badminton=null" >
      
      </md-checkbox>
        </md-list-item>


         <md-list-item >
             <p> TableTennis</p>
             
        <md-checkbox layout="row" ng-model="sportsActivities.tableTennis" ng-init="sportsActivities.tableTennis=null" >
        
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p>  Squash</p>
       <md-checkbox layout="row" ng-model="sportsActivities.squash" ng-init="sportsActivities.squash=null" >
       
      </md-checkbox>
        </md-list-item>


         <md-list-item >
             <p>   Swimming Pool</p>
       <md-checkbox layout="row" ng-model="sportsActivities.swimmingPool" ng-init="sportsActivities.swimmingPool=null" >
       
      </md-checkbox>
        </md-list-item>


         <md-list-item >
             <p>Kids Swimming Pool</p>
       <md-checkbox layout="row" ng-model="sportsActivities.kidsSwimmingPool" ng-init="sportsActivities.kidsSwimmingPool=null" >
       
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p> Kids Play Areas</p>
      <md-checkbox layout="row" ng-model="sportsActivities.kidsPlayAreas" ng-init="sportsActivities.kidsPlayAreas=null" >
       
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p>  Snooker Table</p>
      
      <md-checkbox layout="row" ng-model="sportsActivities.snookerTable" ng-init="sportsActivities.snookerTable=null" >
      
      </md-checkbox>
       
        </md-list-item>



         <md-list-item >
             <p> Bowling Alley</p>
      
      <md-checkbox layout="row" ng-model="sportsActivities.bowlingAlley" ng-init="sportsActivities.bowlingAlley=null" >
       
      </md-checkbox>
       
        </md-list-item>

         <md-list-item >
             <p> Jogging Track</p>
      
       <md-checkbox layout="row" ng-model="sportsActivities.joggingTrack" ng-init="sportsActivities.joggingTrack=null" >
       
      </md-checkbox>
       
        </md-list-item>
        
     <md-button  class="md-raised md-primary md-block" ng-click="submit(sportsActivities)" >Submit</md-button>
    </md-list>
</form>
