<style>
    md-list-item {
        height: 50px;
    }
</style>
<md-list ng-cloak>
    <md-list-item ui-sref="project-status">
        <md-icon>show_chart</md-icon>
        <p>Project Status</p>
        <!--<md-icon ng-if="projectStatusValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="location">
        <md-icon>location_on</md-icon>
        <p>Location</p>
        <!--<md-icon ng-if="locValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="amenities">
        <md-icon>apps</md-icon>
        <p>Amenities</p>
        <!--<md-icon ng-if="amenitiesValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="cost">
        <md-icon>monetization_on</md-icon>
        <p>Cost</p>
        <!--<md-icon ng-if="costValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="configuration">
        <md-icon>settings</md-icon>
        <p>Configuration</p>
        <!--<md-icon ng-if="configurationValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="rating">
        <md-icon>star_rate</md-icon>
        <p>Rating</p>
        <!--<md-icon ng-if="ratingValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="top">
        <md-icon>poll</md-icon>
        <p>Top</p>
        <!--<md-icon ng-if="topValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="others">
        <md-icon>all_inclusive</md-icon>
        <p>Others</p>
        <!--<md-icon ng-if="othersValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="security">
        <md-icon>security</md-icon>
        <p>Security</p>
        <!--<md-icon ng-if="securityValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="nearby">
        <md-icon>near_me</md-icon>
        <p>Nearby</p>
        <!--<md-icon ng-if="nearbyValue">done</md-icon>-->
    </md-list-item>
    <md-list-item ui-sref="sport-activities">
        <md-icon>person</md-icon>
        <p>Sport Activities</p>
        <!--<md-icon ng-if="sportActivitiesValue">done</md-icon>-->
    </md-list-item>
</md-list>
<!--<ul>
    <li>
        <a ui-sref="project-status">Project Status</a>
    </li>
    <li>
        <a ui-sref="location">Location</a>
    </li>
    <li>
        <a ui-sref="location">Amenities</a>
    </li>
    <li>
        <a ui-sref="location">Cost</a>
    </li>
    <li>
        <a ui-sref="location">Config</a>
    </li>
    <li>
        <a ui-sref="location">Ratings</a>
    </li>
    <li>
        <a ui-sref="location">Top</a>
    </li>
    <li>
        <a ui-sref="location">Other</a>
    </li>
    <li>
        <a ui-sref="location">Security</a>
    </li>
    <li>
        <a ui-sref="location">Nearby</a>
    </li>
</ul>-->