<form ng-submit="applyLocationFilter(loc)">
    <md-list layout="column">
        <md-list-item>
            <md-input-container class="md-block" flex layout-padding>
                <label>Location Name</label>
                <input type="text" name="name" ng-model="locationFilter">
            </md-input-container>
        </md-list-item>
        <md-subheader>Locations</md-subheader>
        <md-list-item ng-repeat="location in locations | filter: locationFilter">
            <p>{{location.locationName}}</p>
            <md-checkbox
                ng-model="loc[location.locationId]"
                ng-init="loc[location.locationId] = locValue[location.locationId]"
                ng-false-value="null"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-button layout-align="center center" type="submit" class="md-raised md-primary">Apply</md-button>
    </md-list>
</form>