<form name="ratingForm" layout="column" layout-padding ng-submit="applyRatingFilter(rating)">
    <md-input-container>
        <label>Select Rating</label>
        <md-select ng-model="rating.rating" ng-init="rating.rating = ratingValue.rating">
            <md-option ng-repeat="rate in ratings" ng-value="rate">{{rate}}</md-option>
        </md-select>
    </md-input-container>
    <md-button type="submit" class="md-raised md-primary">Apply</md-button>
    <md-button ng-click="clearForm('ratingForm', 'rating')" class="md-raised md-secondary">RESET</md-button>
</form>