<form ng-submit="applySportActivitiesFilter(sportActivities)">
  <md-list layout="column">
        <md-list-item >
             <p>Cricket</p>
       <md-checkbox layout="row" 
       ng-false-value="null"
       ng-model="sportActivities.cricket" 
       ng-init="sportActivities.cricket=sportActivitiesValue.cricket" >
      </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p> Football</p>
       <md-checkbox layout="row" 
       ng-false-value="null"
       ng-model="sportActivities.football" 
       ng-init="sportActivities.football=sportActivitiesValue.football" >
      
      </md-checkbox>
        </md-list-item>

        <md-list-item >
             <p> Tennis</p>
        <md-checkbox 
        ng-false-value="null"
        ng-model="sportActivities.tennis" 
        ng-init="sportActivities.tennis=sportActivitiesValue.tennis" >
        
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p> Pool Table</p>
       <md-checkbox layout="row" 
       ng-false-value="null"
       ng-model="sportActivities.poolTable" 
       ng-init="sportActivities.poolTable=sportActivitiesValue.poolTable" >
       
      </md-checkbox>
       
        </md-list-item>

         <md-list-item >
             <p>Basketball</p>
         <md-checkbox layout="row"  
         ng-false-value="null"
         ng-model="sportActivities.basketball"  
         ng-init="sportActivities.basketball=sportActivitiesValue.basketball">
        
      </md-checkbox>
       
        </md-list-item>

         <md-list-item >
             <p>Multipurposecourt</p>
      <md-checkbox layout="row"  
      ng-false-value="null"
      ng-model="sportActivities.multiPurposeCourt" 
      ng-init="sportActivities.multiPurposeCourt=sportActivitiesValue.multiPurposeCourt" >
       
      </md-checkbox>
       
        </md-list-item>

        <md-list-item >
             <p> Pitch And Putt</p>
       <md-checkbox layout="row"  
       ng-false-value="null"
       ng-model="sportActivities.pitchAndPutt" 
       ng-init="sportActivities.pitchAndPutt=sportActivitiesValue.pitchAndPutt" >
      
      </md-checkbox>
       
        </md-list-item>

        <md-list-item >
             <p>Skating Rink</p>
             
        <md-checkbox layout="row"  
        ng-false-value="null"
        ng-model="sportActivities.skatingRink" 
        ng-init="sportActivities.skatingRink=sportActivitiesValue.skatingRink" >
        
      </md-checkbox>       
        </md-list-item>

         <md-list-item >
             <p>Volleyball</p>
             
         <md-checkbox layout="row"  
         ng-false-value="null"
         ng-model="sportActivities.volleyball" 
         ng-init="sportActivities.volleyball=sportActivitiesValue.volleyball" >
        
      </md-checkbox>   
        </md-list-item>


         <md-list-item >
             <p>Amphitheatre</p>
             
         <md-checkbox layout="row" 
          
         ng-false-value="null"
         ng-model="sportActivities.amphitheatre" 
         ng-init="sportActivities.amphitheatre=sportActivitiesValue.amphitheater">
       
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p> Badminton</p>
             
        <md-checkbox layout="row" 
         
        ng-false-value="null"
        ng-model="sportActivities.badminton" 
        ng-init="sportActivities.badminton=sportActivitiesValue.badminton" >
      
      </md-checkbox>
        </md-list-item>


         <md-list-item >
             <p> TableTennis</p>
             
        <md-checkbox layout="row"  
        ng-false-value="null"
        ng-model="sportActivities.tableTennis" 
        ng-init="sportActivities.tableTennis=sportActivitiesValue.tableTennis" >
        
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p>  Squash</p>
       <md-checkbox layout="row"  
       ng-false-value="null"
       ng-model="sportActivities.squash" 
       ng-init="sportActivities.squash=sportActivitiesValue.squash" >
       
      </md-checkbox>
        </md-list-item>


         <md-list-item >
             <p>   Swimming Pool</p>
       <md-checkbox layout="row"  
       ng-false-value="null"
       ng-model="sportActivities.swimmingPool" 
       ng-init="sportActivities.swimmingPool=sportActivitiesValue.swimmingPool" >
       
      </md-checkbox>
        </md-list-item>


         <md-list-item >
             <p>Kids Swimming Pool</p>
       <md-checkbox layout="row"  
       ng-false-value="null"
       ng-model="sportActivities.kidsSwimmingPool" 
       ng-init="sportActivities.kidsSwimmingPool=sportActivitiesValue.kidsSwimmingPool" >
       
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p> Kids Play Areas</p>
      <md-checkbox layout="row"  
       ng-false-value="null"
      ng-model="sportActivities.kidsPlayAreas" 
      ng-init="sportActivities.kidsPlayAreas=sportActivitiesValue.kidsPlayAreas" >
       
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p>  Snooker Table</p>
      
      <md-checkbox layout="row"  
       ng-false-value="null"
      ng-model="sportActivities.snookerTable" 
      ng-init="sportActivities.snookerTable=sportActivitiesValue.snookerTable" >
      
      </md-checkbox>
       
        </md-list-item>



         <md-list-item >
             <p> Bowling Alley</p>
      
      <md-checkbox layout="row"  
       ng-false-value="null"
      ng-model="sportActivities.bowlingAlley" 
      ng-init="sportActivities.bowlingAlley=sportActivitiesValue.bowlingAlley" >
       
      </md-checkbox>
       
        </md-list-item>

         <md-list-item >
             <p> Jogging Track</p>
      
       <md-checkbox layout="row"  
       ng-false-value="null"
       ng-model="sportActivities.joggingTrack" 
       ng-init="sportActivities.joggingTrack=sportActivitiesValue.joggingTrack" >
       
      </md-checkbox>
       
        </md-list-item>
        
     <md-button  class="md-raised md-primary md-block" type="submit">Submit</md-button>
    </md-list>
</form>
