<form name="topForm" layout="column" layout-padding ng-submit="applyTopFilter(top)">
    <md-input-container>
        <label>Select Range</label>
        <md-select ng-model="top.top" ng-init="top.top = topValue.top">
            <md-option ng-repeat="range in ranges" ng-value="range">{{range}}</md-option>
        </md-select>
    </md-input-container>
    <md-button type="submit" class="md-raised md-primary">Apply</md-button>
    <md-button ng-click="clearForm('topForm', 'top')" class="md-raised md-secondary">RESET</md-button>
</form>